In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FEA4-9C8F

 Directory of C:\Users\mrsks\OneDrive\Desktop\Data Science - Somnath\Assignments - Final\3. Hypothesis Testing

20-07-2022  18:16    <DIR>          .
20-07-2022  17:48    <DIR>          ..
20-07-2022  18:16    <DIR>          .ipynb_checkpoints
20-07-2022  17:48                87 BuyerRatio.csv
20-07-2022  17:48            13,423 Costomer+OrderForm.csv
20-07-2022  17:48               525 Cutlets.csv
20-07-2022  17:48            61,688 Hypothesis_Testing_Assignment.pptx
20-07-2022  17:48             3,487 LabTAT.csv
20-07-2022  18:04            47,438 Q1. Cutlets_Hypothesis Testing.ipynb
20-07-2022  18:14            17,060 Q2. LabTAT_Hypothesis Testing.ipynb
20-07-2022  18:16                72 Q3. Buyer Ratio_Hypothesis Testing.ipynb
               8 File(s)        143,780 bytes
               3 Dir(s)  419,915,546,624 bytes free

In [5]:
buyerratio = pd.read_csv("BuyerRatio.csv")
buyerratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
buyerratio = buyerratio.drop('Observed Values', axis=1)
buyerratio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
stat,p,dof,expected=stats.chi2_contingency(buyerratio)

In [8]:
alpha =0.05

In [9]:
print("Chi Square test value is ", p)
if p<=alpha:
    print("Reject Null hypothesis")
else:
    print("Null hypothesis holds true")

Chi Square test value is  0.6603094907091882
Null hypothesis holds true