In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FEA4-9C8F

 Directory of C:\Users\mrsks\OneDrive\Desktop\Data Science - Somnath\Assignments - Final\3. Hypothesis Testing

20-07-2022  18:21    <DIR>          .
20-07-2022  17:48    <DIR>          ..
20-07-2022  18:21    <DIR>          .ipynb_checkpoints
20-07-2022  17:48                87 BuyerRatio.csv
20-07-2022  17:48            13,423 Costomer+OrderForm.csv
20-07-2022  17:48               525 Cutlets.csv
20-07-2022  17:48            61,688 Hypothesis_Testing_Assignment.pptx
20-07-2022  17:48             3,487 LabTAT.csv
20-07-2022  18:04            47,438 Q1. Cutlets_Hypothesis Testing.ipynb
20-07-2022  18:14            17,060 Q2. LabTAT_Hypothesis Testing.ipynb
20-07-2022  18:21             6,722 Q3. Buyer Ratio_Hypothesis Testing.ipynb
20-07-2022  18:21                72 Q4. CustomerOrderForm_Hypothesis Testing.ipynb
               9 File(s)        150,502 bytes
               3 Dir(s)  419,914,989,568 bytes free

In [3]:
orderform=pd.read_csv('Costomer+OrderForm.csv')
orderform

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
orderform.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
orderform.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
orderform.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
orderform.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
#Preparing a contengency table

obs = np.array([[271,267,269,280], [29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [10]:
# chi2 contengency independence test

stat, p,dof, expected =stats.chi2_contingency(obs)

In [11]:
alpha =0.05

In [12]:
print("Chi Square test is ", p)
if p <= alpha:
    print("Null hypothesis H0 is rejected")
else:
    print("Null hypothesis holds true")

Chi Square test is  0.2771020991233135
Null hypothesis holds true